*{
  border: 0;
  margin: 0;
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
}

#main_header{
  height: 50px;
  background: #222;
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100%;
  color: #eee;
  display: block;
}

header{
  font-size: 30px;
  font-weight: bolder;
}

p{
  font-size: 20px;
}

#main_doc{
  margin: 80px 40px 40px 300px;
}

.main-section:target{
  border: .5px solid black;
  padding: 4px;
}

#nav_bar{
  border-right: 3px double black;
  width: 250px;
  position: fixed;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  height: 100%;
}

#nav_header{
  border-bottom: 2px solid black;
  position: fixed;
  width: 249px;
  background: white;
}

#nav_bar_nav{
  margin-top: 45px;

}

#nav_bar_nav a{
  color: rgba(39 115 212);
  display: block;
  border-bottom: .2px solid black;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}

#nav_bar_nav a:hover{
  color: rgba(74 150 247);
  transition: .5s;
}

.code-snippet{
  background: #333;
  padding: 10px;
  margin: 10px 0;
  color: #ddd;
}

.snippet-text{
  font-weight: bold;
}

.sub-title{
  font-weight: bolder;
  font-size: 25px;
}

span{
  font-weight: bold;
}

article{
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
}

#sample-input{
  margin: 10px;
  height: 30px;
  width: 300px;
  display: block;
  border: 1px solid black;
  border-radius: 20px;
}

pre{
  color: rgba(0, 178, 249);
  font-size: 17.5px;
  background: #333;
  padding: 0 2px;
  margin: 10px 0;
}

a{
  list-style: none;
  color: rgba(39 115 212);
}
